html, body{
    position: relative;
    width: 99%;
    height: 100%;
    margin: 0;
    padding: 10px;
    background: #999;
    overflow: hidden;
}

#editor{
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: calc(95% - 100px);
    box-sizing: border-box;
    display: inline-block;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

#preview{
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    padding: 30px;
    height: calc(95% - 20px);
    box-sizing: border-box;
    display: inline-block;
    background: #333;
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal;
}