<div id="explorer_controls">
    <div id="explorer_folder_up" class="explorer_control" ng-click="explorer.folderUp()"></div>
    <input id="explorer_path" ng-model="explorer.path" class="explorer_control" tabindex="1">
    <div id="explorer_new_folder" class="explorer_control" ng-click="explorer.createFolder()"></div>
    <div id="explorer_submit" class="explorer_control" ng-click="submit()">{{ explorer.submit }}</div>
</div>
<div id="explorer_files">
    <div ng-repeat="file in explorer.files" class="file_box" tabindex="2" ng-dblclick="explorer.doubleClick($event.currentTarget, file['.tag'])">
        <div ng-class="file['.tag']"></div>
        {{file.name}}
        <span class="explorer_path">{{file.path_display}}</span>
    </div>
</div>
<style ng-include="'../styles/explorer.css'"></style>