@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
.button-base {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;

  color: #3B3B3B;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight:  300;
  line-height: 35px;
  margin: 0 auto 2em;
  max-width: 8%; 
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%; 
  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}


.footer-button {
    letter-spacing: 0;
    font-weight:  300;
}

.footer-button:hover,
.footer-button:active {
  letter-spacing: 2px;
  font-weight:  400;
}

.footer-button:after,
.footer-button:before {
  backface-visibility: hidden;
  border: 0.01rem solid rgb(225, 225, 234);;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 9%;
}

.footer-button:hover:after,
.footer-button:hover:before {
  backface-visibility: hidden;
  border-color: #3B3B3B;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.footer-button:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
