@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.section--editor {
    position: relative;
    display: block;
    overflow: scroll;
}

.section--preview {
    overflow: scroll;
    background: #eee;
    padding: 20px;
    box-sizing: border-box;
}

#title_logo{
    margin-top: 20px;
    position: absolute;
    display: inline-block;
    width: 210px;
    left: calc(50vw - 120px);
}
#title_logo img{
    margin-left: 47%;
    width: 50px;
}
#title_logo span{
    padding-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

#editor{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    box-sizing: border-box;
    padding: 5px 35px;
    background: transparent;
    color: #ddd;
    -webkit-text-fill-color: transparent;
}
#highlighting_field{
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    min-width: 90%;
    min-height: 100%;
    height: fit-content;
    padding: 5px 35px;
    box-sizing: border-box;
    background: #444;
    color: #ddd;
    letter-spacing: 0.2px;
}
#line-numbers{
    position: absolute;
    z-index: 90;
    background: #555555;
    border-right: 1px solid #555555;
    color: grey;
    width: 30px;
    height: fit-content;
    min-height: 100%;
    top: 0;
    text-align: right;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 4px;
    box-sizing: border-box;
}
.font_style{
    font-size: 11px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: 'Roboto Mono', monospace;
}

textarea {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    resize: none;
    border: none;
    overflow: hidden;
}

#preview{
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    padding: 30px;
    height: calc(95% - 20px);
    box-sizing: border-box;
    display: inline-block;
    background: #333;
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal;
}

.standard--tab{
     display: block;
     width: 100%;
     padding-bottom: 30px;
     padding-top: 30px;
     z-index: 100;
    position: relative;
    box-shadow: 5px 0 5px 0 black;
}
